<div class='bg-black text-white justify-self-center  border-lime-600 border-2 rounded-md p-20 m-10'>
  <app-header></app-header>
  <div class="bg-black text-white text-center p-5">
    <app-task (newTodoVal)="addTask($event)"></app-task>
    <div class=" p-5 ">
      <ul >
        <app-todo-list-display  *ngFor="let item of todoList,let i=index" [todoTask]="item" [indexTask]="i" [todoList]="todoList" (todoListUpdated)="updateTodoList($event)"></app-todo-list-display>
      </ul>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
