<li class="border-1 border-gray-700 rounded-sm p-4 m-2 w-md flex flex-row text-white">
  <input type="checkbox" [checked]="todoTask.completed" (change)="completeTask(indexTask)" class="size-5 justify-start m-2" [hidden]="!editButtonvisibility"/>
  <input [ngClass]="todoTask.completed?'line-through':''" type="text" [value]="todoTask.task" [ngClass]="editButtonvisibility?'border-0':'border-1 border-gray-600 rounded-sm '"
    class="text-white p-2" [disabled]="todoTask.id!==editId" #taskInputValue />
  <button class="border-1 border-amber-500 rounded-md m-2" (click)="editTask(todoTask.id)" [hidden]="!editButtonvisibility || todoTask.completed">Edit</button>
  <button class="border-1 border-amber-500 rounded-md m-2" (click)="saveTask(indexTask,taskInputValue)" [hidden]="editButtonvisibility">Save</button>
  <button class="border-1 border-amber-500 rounded-md m-2" (click)="deleteTask(todoTask.id)" >Delete</button>
</li>
